
  <div class="archetype-staging">
    <div class="archetype-carousel">
      {{#each archetypeCarousel}}
      <div class="archetype-carousel-item" data-index="{{@index}}" data-archetype="{{case "lower" label}}" data-is-selected="{{isSelected}}">
        <div class="archetype-carousel-the">The</div>
        <div class="archetype-carousel-name">{{label}}</div>
        <img class="archetype-carousel-img" src="{{img}}" alt="{{label}}">
        <div class="archetype-description">{{{description}}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  {{#each archetypeCarousel as |data archetype|}}
  <div class="archetype-panels" data-archetype="{{case "lower" archetype}}">
    <div class="archetype-panel archetype-panel-advantages k4-theme-bgold">
      <h3>Advantages</h3>
      {{#each data.advantage as |traits attribute|}}
      <div class="archetype-sub-panel" data-attribute="{{attribute}}">
        <div class="archetype-sub-panel-title">{{#if (eq attribute "zero")}}None{{else}}{{case "title" attribute}}{{/if}}</div>
        {{#each traits}}
        <div class="archetype-trait-container tooltip-trigger" data-trait="{{@key}}" data-is-selected="{{test isSelected "||" isMandatory}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name">{{name}}</span>
          <span class="tooltip">{{{formatForKult tooltip}}}</span>
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>
    <div class="archetype-panel archetype-panel-disadvantages k4-theme-red">
      <h3>Disadvantages</h3>
      {{#each data.disadvantage}}
      <div class="archetype-sub-panel">
        <div class="archetype-trait-container tooltip-trigger" data-trait="{{@key}}" data-is-selected="{{test isSelected "||" isMandatory}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name {{~#if isMandatory}} neon-glow-strong-red{{/if}}">{{name}}</span>
          <span class="tooltip">{{{formatForKult tooltip}}}</span>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="archetype-panel archetype-panel-darksecrets k4-theme-dark">
      <h3>Dark Secrets</h3>
      {{#each data.darksecret}}
      <div class="archetype-sub-panel">
        <div class="archetype-trait-container tooltip-trigger" data-trait="{{@key}}" data-is-selected="{{test isSelected "||" isMandatory}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name">{{name}}</span>
          <span class="tooltip">{{{formatForKult tooltip}}}</span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
  <div class="archetype-carousel-dragger"><div class="archetype-carousel-drag-handle"></div></div>