
  <div class="archetype-staging">
    <div class="archetype-carousel">
      {{#each archetypeCarousel}}
      <div class="archetype-carousel-item" data-index="{{@index}}" data-archetype="{{case "lower" label}}" data-is-selected="{{isSelected}}">
        <div class="archetype-carousel-the">The</div>
        <div class="archetype-carousel-name">{{label}}</div>
        <img class="archetype-carousel-img" src="{{img}}" alt="{{label}}">
        <div class="archetype-description">{{{description}}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  {{#each archetypeCarousel as |data archetype|}}
  <div class="archetype-panels" data-archetype="{{case "lower" archetype}}">
    <div class="archetype-panel archetype-panel-advantages k4-theme-gold">
      <label class="k4-title section-title">Advantages</label>
      <h4>{{{formatForKult data.selStringAdvantage}}}</h4>
      {{#each data.advantage as |traits attribute|}}
      <div class="archetype-sub-panel" data-attribute="{{attribute}}">
        <div class="archetype-sub-panel-title">{{#if (eq attribute "zero")}}None{{else}}{{case "title" attribute}}{{/if}}</div>
        {{#each traits}}
        <div class="archetype-trait-container tooltip-trigger" data-trait="{{@key}}" data-is-selected="{{isSelected}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name">{{name}}</span>
          <span class="tooltip">{{{formatForKult tooltip}}}</span>
        </div>
        {{#unless isMandatory}}
        <div class="archetype-trait-container overlay" data-trait="{{@key}}" data-is-selected="{{isSelected}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name">{{name}}</span>
        </div>
        {{/unless}}
        {{/each}}
      </div>
      {{/each}}
    </div>
    <div class="archetype-panel archetype-panel-disadvantages k4-theme-red">
      <label class="k4-title section-title">Disadvantages</label>
      <h4>{{{formatForKult data.selStringDisadvantage}}}</h4>
      {{#each data.disadvantage}}
      <div class="archetype-sub-panel {{#if isMandatory}} mandatory{{/if}}">
        <div class="archetype-trait-container tooltip-trigger" data-trait="{{@key}}" data-is-selected="{{isSelected}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name {{~#if isMandatory}} neon-glow-strong-red{{/if}}">{{name}}</span>
          <span class="tooltip">{{{formatForKult tooltip}}}</span>
        </div>
        {{#unless isMandatory}}
        <div class="archetype-trait-container overlay" data-trait="{{@key}}" data-is-selected="{{isSelected}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name {{~#if isMandatory}} neon-glow-strong-red{{/if}}">{{name}}</span>
        </div>
        {{/unless}}
      </div>
      {{/each}}
      <button class="archetype-more-button more-disadvantages">More ▶</button>
    </div>
    <div class="archetype-panel archetype-panel-darksecrets k4-theme-dark">
      <label class="k4-title section-title">Dark Secrets</label>
      <h4>{{{formatForKult data.selStringDarkSecret}}}</h4>
      {{#each data.darksecret}}
      <div class="archetype-sub-panel {{#if isMandatory}} mandatory{{/if}}">
        <div class="archetype-trait-container tooltip-trigger" data-trait="{{@key}}" data-is-selected="{{isSelected}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name">{{name}}</span>
          <span class="tooltip">{{{formatForKult tooltip}}}</span>
        </div>
        {{#unless isMandatory}}
        <div class="archetype-trait-container overlay" data-trait="{{@key}}" data-is-selected="{{isSelected}}" data-is-mandatory="{{isMandatory}}">
          <div class="icon-container">
            <div class="icon-mask" style="mask:url({{img}}) no-repeat center;-webkit-mask:url({{img}}) no-repeat center;"></div>
          </div>
          <span class="archetype-trait-name">{{name}}</span>
        </div>
        {{/unless}}
      </div>
      {{/each}}
      <button class="archetype-more-button more-dark-secrets">More ▶</button>
    </div>
  </div>
  {{/each}}
  <div class="archetype-panel archetype-panel-notes">
    <div class="archetype-sub-panel chargen-occupation">
      <div class="archetype-sub-panel-title">Occupation</div>
      <span class="archetype-example-list" data-target="occupation"></span>
      {{editor actor.system.occupation target="system.occupation" button=true engine="prosemirror" collaborate=false class="k4-one-line-editor"}}
    </div>
    <div class="archetype-sub-panel chargen-description">
      <div class="archetype-sub-panel-title">Description</div>
      <div class="archetype-example-container">
        <span class="archetype-example-label">Clothes:</span>
      <span class="archetype-example-list" data-target="looks.clothes"></span>
      </div>
      <div class="archetype-example-container">
        <span class="archetype-example-label">Face:</span>
      <span class="archetype-example-list" data-target="looks.face"></span>
      </div>
      <div class="archetype-example-container">
        <span class="archetype-example-label">Eyes:</span>
      <span class="archetype-example-list" data-target="looks.eyes"></span>
      </div>
      <div class="archetype-example-container">
        <span class="archetype-example-label">Body:</span>
      <span class="archetype-example-list" data-target="looks.body"></span>
      </div>
      {{editor actor.system.description target="system.description" button=true engine="prosemirror" collaborate=false class="k4-small-editor"}}
    </div>
    <div class="archetype-sub-panel chargen-history">
      <div class="archetype-sub-panel-title">History</div>
      {{editor actor.system.history target="system.history" button=true engine="prosemirror" collaborate=false class="k4-medium-editor"}}
    </div>
  </div>
  <div class="archetype-carousel-dragger"><div class="archetype-carousel-drag-handle"></div></div>