{{dbLog "{comp} item-list.hbs" this}}

{{#with this as |data|}}
{{~#each data.listRefs as |listKey|}}
	{{~#with (lookup data.lists listKey) as |listData|}}
		{{~#if data.isDisplayingName}}
			{{#if (test listKey "==" "edges")}}
				<label class="k4-header edges-header">
					{{#with data.itemData.type as |type|}}
					{{localize "kult4th.item.headings.suppliesEdges" itemType=type}}
					{{/with}}
				</label>
			{{else}}
				<h2 class="list-name">{{listData.name}}</h2>
			{{/if}}
		{{/if}}
		{{~#if listData.intro}}
			<span class="list-intro">{{{formatForKult listData.intro}}}</span>
		{{/if}}
		<ul class="rules-list list-{{listKey}}">
			{{#each listData.items as |item|}}
				<li>{{{formatForKult item}}}</li>
			{{/each}}
		</ul>
	{{/with}}
{{/each}}
{{/with}}