<div class="item-card advantage-item" >
	<span class="item-icon {{~#if (test data.data.subType "==" "passive")}}passive{{else}}active{{/if}}-item">
		<img src="{{img}}" />
		<a class="item-button" data-item-name="{{name}}" data-action="roll">ROLL</a>
		<a class="item-button" data-item-name="{{name}}" data-action="chat">CHAT</a>
		<a class="item-button" data-item-name="{{name}}" data-action="edit">EDIT</a>
		<a class="item-button" data-item-name="{{name}}" data-action="drop">DROP</a>
	</span>
	<span class="item-name">
		<span class="item-bg"></span>
		<span class="item-text">{{name}}</span>
	</span>
	<span class="trigger-tooltip">{{data.data.rules.trigger}}</span>
</div>