{{log "ATTRIBUTE THIS"}}
{{log this}}

<div class="attribute-box" data-attribute="{{key}}">
	<video autoplay muted loop>
		<source src="/systems/kult4th/assets/animations/attribute-flare-10.webm" type="video/webm">
	</video>
	<span class="attribute-title">{{name}}</span>
	<input type="number" class="attribute-value" name="data.attributes.{{key}}.value" value="{{value}}" />
</div>