<div class="item-card derived-move-item" data-attribute="{{data.data.attribute}}">
	<span class="item-icon active">
		<img src="{{img}}" />
		<a class="item-button" data-item-name="{{name}}" data-action="roll">ROLL</a>
		<a class="item-button" data-item-name="{{name}}" data-action="chat">CHAT</a>
		<a class="item-button" data-item-name="{{name}}" data-action="edit">EDIT</a>
		<a class="item-button" data-item-name="{{name}}" data-action="drop">DROP</a>
	</span>
	<span class="item-name">
		<span class="item-bg"></span>
		<span class="item-text">{{name}}</span>
	</span>
	<span class="trigger-tooltip">{{data.data.rules.trigger}}</span>
</div>