{{log "DERIVED ITEM" this}}

{{#unless (areEmpty data.rules.intro data.rules.trigger data.rules.outro)}}
<p class="rules-top">
{{~#if data.rules.intro}}<span class="text-intro">{{{formatForKult data.rules.intro}}}</span>{{/if}}
{{~#if data.rules.trigger}} <em class="text-trigger">{{{formatForKult data.rules.trigger}}}</em> {{/if}}
{{~#if data.rules.outro}}<span class="text-outro">{{{formatForKult data.rules.outro}}}</span>{{/if}}
</p>
{{/unless}}

{{~#if (test data.data.subType "==" "active-rolled")}}
<p class="results-summary">
{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(15+)" result=data.data.results.completeSuccess.result}}
{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(10-14)" result=data.data.results.partialSuccess.result}}
{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(&minus;9)" result=data.data.results.failure.result}}
{{~#if data.data.results.listRefs}}
	{{~#with data.data.lists as |LISTS|}}
	{{~#each ../data.data.results.listRefs as |listKey|}}
		{{~#with (lookup LISTS listKey) as |listData|}}
		<h2 class="list-name">{{listData.name}}</h2>
		{{~#if listData.intro}}<span class="list-intro">{{{formatForKult listData.intro}}}</span>{{/if}}
		<ul class="rules-list list-{{listKey}}">
			{{#each listData.items as |item|}}
			<li>{{{formatForKult item}}}</li>
			{{/each}}
		</ul>
		{{/with}}
	{{/each}}
	{{/with}}
{{/if}}
</p>
{{/if}}