<div class="card disadvantage-card">
    <div class="item-draggable disadvantage-info item-name" data-item-id="{{_id}}">
        <a class="item-post" title="Show Disadvantage"> <img src="{{img}}" data-edit="img" title="{{name}}"/> {{name}} </a>
        <a class="item-control item-post" title="{{localize "kult4e.ShowItem"}}"><i class="far fa-comment-alt"></i></a>
        {{#unless isSheetOpen}}
    		<a class="item-control item-edit item-view" title="View Item"><i class="fas fa-eye"></i></a>
				{{/unless}}
				{{#if isSheetOpen}}
        <a class="item-control item-delete" title="{{localize "kult4e.DeleteItem"}}"><i class="fas fa-trash"></i></a>
        <a class="item-control item-edit" title="{{localize "kult4e.EditItem"}}"><i class="fas fa-edit"></i></a>
				{{/if}}
				{{log "THIS" this}}
				{{log "HAS TOKENS?" data}}
        {{#if data.data.hasTokens}}
					{{#if isGM}}
						{{#if (gte data.data.tokens 0)}}
						<span class="advantage-column">{{localize "kult4e.Hold"}}: <a class="token-add" title="{{localize "kult4e.AddHold"}}"><i class="far fa-plus-square"></i></a> {{data.data.tokens}}
							{{#if (gte data.data.tokens 1)}}
							<a class="token-spend" title="{{localize "kult4e.SpendHold"}}"><i class="far fa-minus-square"></i></a>
							{{/if}}
						</span>
          	{{/if}}
        	{{/if}}
				{{/if}}
    </div>
</div>