<div class="card relationship-card">
  <div class="move-info item-name" data-item-id="{{data._id}}">
    <span class="move-roll"> {{data.data.target}} ({{data.name}}): {{data.data.strength}}</span>
		{{#if isSheetOpen}}
    <a class="item-control item-delete" title="{{localize "kult4th.DeleteItem"}}"><i class="fas fa-trash"></i></a>
    <a class="item-control item-edit" title="{{localize "kult4th.EditItem"}}"><i class="fas fa-edit"></i></a>
		{{/if}}
  </div>
</div>