{{log "{SHEET} attack-sheet.hbs" this}}

<form class="kult4th-form {{cssClass}}" autocomplete="off">
	<main class="kult-text-container tab-content kult-{{type}}-container">
		<div class="attack-specs">
			<span class="attack-harm">{{system.harm}}</span><label class="attack-harm">{{localize "kult4th.trait.harm"}}</label>
		</div>
		{{#unless (areEmpty system.rules.intro system.rules.trigger system.rules.outro)}}
		{{> "systems/kult4th/templates/components/rules-block.hbs" rules=system.rules}}
		{{/unless}}

		{{~#if (test system.subType "==" "active-rolled")}}
			{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(15+)" result=system.results.completeSuccess.result}}
			{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(10-14)" result=system.results.partialSuccess.result}}
			{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(&minus;9)" result=system.results.failure.result}}
		{{/if}}

		{{~#if system.rules.listRefs}}
			{{> "systems/kult4th/templates/components/item-list.hbs" lists=system.lists listRefs=system.rules.listRefs type=type isDisplayingName=true}}
		{{/if}}

		{{#if system.rules.holdText}}
			<label class="k4-header hold-header neon-glow-strong-red">This {{case "title" type}} risks Hold</label>
			<span class="hold-body">{{{formatForKult system.rules.holdText}}}</span>
		{{/if}}
	</main>
</form>