<form class="actor-sheet kult4th-form {{cssClass}} actor-pc" autocomplete="off">

	{{> "systems/kult4th/templates/components/pc-header.hbs" }}

  {{log "PC SHEET CONTEXT" this}}
	<main class="tab-content">
		<section class="tab front {{~#if (eq curTab "front")}} active{{/if}}" data-group="primary" data-tab="front">
			<section class="subsection dramatic-hooks">
				<label class="hook-label">{{case "title" (localize "kult4th.sheet.hooks")}}:</label>
				{{#each actor.system.dramaticHooks}}
				<div class="dramatic-hook">
					<input type="checkbox" name="system.dramaticHooks.{{@index}}.isChecked" {{checked isChecked}} />
					<input type="text" name="system.dramaticHooks.{{@index}}.value" value="{{value}}" />
				</div>
				{{/each}}
			</section>
			<section class="subsection status">
				<div class="stability">
					{{> "systems/kult4th/templates/components/svg.hbs" key="stability"}}
					<button class="stability-add">+</button>
					<button class="stability-remove">&minus;</button>
					<span class="stability-count">{{actor.system.stability.value}}</span>
				</div>
				<div class="wounds">
					{{#each wounds}}
					{{#if display}}
					{{> "systems/kult4th/templates/components/hover-strip.hbs" }}
					{{else}}
					{{> "systems/kult4th/templates/components/hover-strip-editable.hbs" }}
					{{/if}}
					{{/each}}
				</div>
				<div class="edges">
					<button class="edges-add">+</button>
					<button class="edges-remove">&minus;</button>
					<button class="edges-clear">X</button>
					<span class="edges-count">{{actor.system.edges.value}}</span>
					<span class="edges-source">{{actor.system.edges.sourceName}}</span>
					<span class="edges-tooltip">
						{{#each actor.system.edges.items}}
						<button class="edge-use" data-edge="{{this}}">#</button>
						<span class="edge-item">{{{formatForKult this}}}</span>
						{{/each}}
					</span>
				</div>
			</section>
			<section class="subsection modifiers">
				<span class="modifiers-report">{{actor.system.modifiersReport}}</span>
			</section>
			<section class="subsection attributes">
				<label class="k4-title section-title">{{case "upper" (localize "kult4th.trait.attributes")}}</label>
				{{#each attributes}}
				{{> "systems/kult4th/templates/components/attribute-box.hbs"}}
				{{/each}}
			</section>
			<section class="subsection item-list flex-item-list item-list basic-moves">
				<label class="k4-title section-title">{{case "upper" (localize "kult4th.item.type.basicPlayerMoves")}}</label>
				{{#each baseMoves}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list item-list special-moves">
				<label class="k4-title section-title">{{case "upper" (localize "kult4th.item.type.specialMoves")}}</label>
				{{#each derivedMoves}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list item-list attacks k4-theme-red">
				<label class="k4-title section-title">{{case "upper" (localize "kult4th.item.type.attacks")}}</label>
				{{#each attacks}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
		</section>

		<section class="tab bio {{~#if (eq curTab "bio")}} active{{/if}}" data-group="primary" data-tab="bio">
			<section class="subsection description">
				<label class="k4-title section-title">{{case "title" (localize "kult4th.sheet.description")}}</label>
				{{editor content=actor.system.description target="system.description" button=true owner=owner editable=editable}}
			</section>
			<section class="subsection flex-item-list item-list advantages">
				<label class="k4-title section-title">{{case "title" (localize "kult4th.item.type.advantages")}}</label>
				{{#each advantages}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list item-list disadvantages">
				<label class="k4-title section-title">{{case "title" (localize "kult4th.item.type.disadvantages")}}</label>
				{{#each disadvantages}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list item-list darksecrets">
				<label class="k4-title section-title">{{case "title" (localize "kult4th.item.type.darksecrets")}}</label>
				{{#each darksecrets}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list item-list relations">
				<label class="k4-title section-title">{{case "title" (localize "kult4th.item.type.relations")}}</label>
				{{#each relations}}
				{{> "systems/kult4th/templates/components/hover-strip.hbs" hoverStrip}}
				{{/each}}
			</section>
		</section>

		<section class="tab assets {{~#if (eq curTab "assets")}} active{{/if}}" data-group="primary" data-tab="assets"></section>
		<section class="tab notes {{~#if (eq curTab "notes")}} active{{/if}}" data-group="primary" data-tab="notes"></section>
		<section class="tab advancement {{~#if (eq curTab "advancement")}} active{{/if}}" data-group="primary" data-tab="advancement"></section>
	</main>
</form>

<div class="gear-container gear-huge gear-kether-huge">
	{{> "systems/kult4th/templates/components/svg.hbs" key="gear-kether-huge"}}
</div>
<div class="gear-container gear-top-right gear-binah">
	{{> "systems/kult4th/templates/components/svg.hbs" key="gear-binah-outer-teeth"}}
	{{> "systems/kult4th/templates/components/svg.hbs" key="gear-binah-inner-full"}}
</div>
<div class="gear-container gear-bottom-right gear-geburah">
	{{> "systems/kult4th/templates/components/svg.hbs" key="gear-geburah"}}
	{{> "systems/kult4th/templates/components/svg.hbs" key="gear-geburah-center-saw"}}
</div>

{{> "systems/kult4th/templates/components/pc-nav-menu.hbs" }}