{{log "ADVANTAGE-THIS" this}}
<form class="kult4th-form {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="forms kult-item-sheet">
    <div>
			{{#if koFlags.isSheetEditable}}
      <label>{{localize "kult4th.Attribute"}}:</label>
      <select name="data.attributemod" value="{{data.attributemod}}">
        {{#select data.attributemod}}
        <option value="">{{localize "kult4th.None"}}</option>
        <option value="willpower">{{localize "kult4th.Willpower"}}</option>
        <option value="fortitude">{{localize "kult4th.Fortitude"}}</option>
        <option value="reflexes">{{localize "kult4th.Reflexes"}}</option>
        <option value="reason">{{localize "kult4th.Reason"}}</option>
        <option value="intuition">{{localize "kult4th.Intuition"}}</option>
        <option value="perception">{{localize "kult4th.Perception"}}</option>
        <option value="coolness">{{localize "kult4th.Coolness"}}</option>
        <option value="violence">{{localize "kult4th.Violence"}}</option>
        <option value="charisma">{{localize "kult4th.Charisma"}}</option>
        <option value="soul">{{localize "kult4th.Soul"}}</option>
        {{/select}}
      </select>
			{{else}}
			<p class="item-roll-desc" style="text-align: right">{{data.attributemod}}</p>
			{{/if}}
    </div>
    <div>
      <label>{{localize "kult4th.Type"}}:</label>
      <select name="data.type" value="{{data.type}}">
      {{#select data.type}}
        <option value="active">{{localize "kult4th.Active"}}</option>
        <option value="passive">{{localize "kult4th.Passive"}}</option>]
      {{/select}}
      </select>
    </div>
    <div class="tokens-container">
      <label>{{localize "kult4th.HasEdge"}}?</label>
      <input type="checkbox" name="data.hasTokens" {{checked data.hasTokens}} />
      {{#if data.hasTokens}}
        <label>{{localize "kult4th.Counter"}}:</label>
        <input class="tokens-counter" name="data.tokens" value="{{data.tokens}}" class="short-input" type="number" />
      {{/if}}
    </div>
    <div class="editor-row">
      <label>{{localize "kult4th.Effect"}}:</label>
      <div>{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
    </div>
    <div class="editor-row">
      <label>Story:</label>
      <div>{{editor content=koFlags.storytext target="flags.kult4th.storytext" button=true owner=owner editable=editable}}</div>
    </div>
  </div>
</form>