{{log this}}
{{log "DATA" data}}

<form class="{{cssClass}}" autocomplete="off">
	<section class="sheet-content">
		<header class="sheet-header">
			<input type="text" class="item-name" name="name" value="{{item.name}}" placeholder="" />
		</header>
		<section class="tab-content">
			<div class="editor">{{{rulesHTML}}}
				{{#if item.data.data.rules.holdText}}
				<span class="hold-header">This {{item.type}} grants Hold</span>
				<span class="hold-body">{{item.data.data.rules.holdText}}</span>
				{{/if}}
			</div>
			{{#each item.data.data.subItems as |subItem|}}
			{{log "SUBITEM" subItem}}
			{{log this}}
			{{> "systems/kult4th/templates/partials/basic-move-card.hbs" subItem}}
			{{/each}}
		</section>
	</section>
</form>