{{log this}}
{{log "DATA" data}}

<form class="{{cssClass}}" autocomplete="off">
		<header class="sheet-header">
			<span class="header-bullet">•</span>
			<span class="header-name">{{item.name}}</span>
			<span class="header-filler"></span>
			{{!-- <input type="text" class="item-name" name="name" value="{{item.name}}" placeholder="" /> --}}
		</header>
		<main class="tab-content">
				{{#if item.data.data.rules.holdText}}
				<span class="hold-header">This {{item.type}} grants Hold</span>
				<span class="hold-body">{{{formatForKult item.data.data.rules.holdText}}}</span>
				{{/if}}
			{{#each item.subMoves as |subMove|}}
			{{log "SUB-MOVE" subMove}}
			{{log this}}
			{{> "systems/kult4th/templates/partials/derived-item-summary.hbs" subMove}}
			{{/each}}
		</main>
</form>