{{log "{SHEET} disadvantage-sheet.hbs" this}}

{{> "systems/kult4th/templates/components/bg-grid.hbs" data.type}}

<form class="kult4th-form {{cssClass}}" autocomplete="off">
	{{> "systems/kult4th/templates/components/form-header.hbs" docType=data.type docName=data.name isBullet=false}}
	<main class="kult-text-container tab-content kult-{{data.type}}-container">
		{{#unless (areEmpty data.data.rules.intro data.data.rules.trigger data.data.rules.outro)}}
		{{> "systems/kult4th/templates/components/rules-block.hbs" rules=data.data.rules}}
		{{/unless}}

		{{#each data.data.subMoveData as |subMove|}}
		{{> "systems/kult4th/templates/partials/derived-item-summary.hbs" subMove}}
		{{/each}}

		{{~#if data.data.rules.listRefs}}
			{{> "systems/kult4th/templates/components/item-list.hbs" lists=data.data.lists listRefs=data.data.rules.listRefs itemData=data isDisplayingName=true}}
		{{/if}}

		{{#if data.data.rules.holdText}}
			<label class="k4-header hold-header">This {{case "title" data.type}} risks Hold</label>
			<span class="hold-body">{{{formatForKult data.data.rules.holdText}}}</span>
		{{/if}}
	</main>
</form>