{{log this}}
{{log "DATA" data}}

<form class="{{cssClass}}" autocomplete="off">
	<section class="sheet-content">
		<header class="sheet-header">
			<input type="text" class="item-name" name="name" value="{{item.name}}" placeholder="" />
		</header>
		<section class="tab-content">
			<div class="editor">
				<div class="editor-content rules-text">
					<p>
					{{~#if data.data.rules.intro}}<span class="text-intro">{{{formatForKult data.data.rules.intro}}}</span>{{/if}}
					{{~#if data.data.rules.trigger}} <em class="text-trigger">{{{formatForKult data.data.rules.trigger}}}</em> {{/if}}
					{{~#if data.data.rules.outro}}<span class="text-outro">{{{formatForKult data.data.rules.outro}}}</span>{{/if}}
					{{~#if (test data.data.subType "==" "active-rolled")}}
					{{> "systems/kult4th/templates/partials/roll-result-entry.hbs" type="active-rolled" diceRange="(15+)" result=data.data.results.completeSuccess.result}}
					{{> "systems/kult4th/templates/partials/roll-result-entry.hbs" type="active-rolled" diceRange="(9—14)" result=data.data.results.partialSuccess.result}}
					{{> "systems/kult4th/templates/partials/roll-result-entry.hbs" type="active-rolled" diceRange="(&minus;9)" result=data.data.results.failure.result}}
					{{else}}{{~#if (test data.data.subType "==" "active-static")}}
					{{> "systems/kult4th/templates/partials/roll-result-entry.hbs" type="active-static" result=data.data.results.staticSuccess.result}}
					{{else}}{{~#if (test data.data.subType "==" "passive")}}
					{{> "systems/kult4th/templates/partials/roll-result-entry.hbs" type="passive"}}
					{{/if}}{{/if}}{{/if}}
					</p>
					{{~#if data.data.rules.optionsLists}}
						{{~#with data.data.lists as |LISTS|}}
						{{~#each ../data.data.rules.optionsLists as |listKey|}}
							{{~#with (lookup LISTS listKey) as |listData|}}
							{{#if (test listKey "==" "edges")}}
							<span class="edges-header">This {{case "title" ../../../data.type}} grants Edges:</span>
							{{else}}
							<h2 class="list-name">{{listData.name}}</h2>
							{{/if}}
							{{~#if listData.intro}}<span class="list-intro">{{{formatForKult listData.intro}}}</span>{{/if}}
							<ul class="rules-list list-{{listKey}}">
								{{#each listData.items as |item|}}
								<li>{{{formatForKult item}}}</li>
								{{/each}}
							</ul>
							{{/with}}
						{{/each}}
						{{/with}}
					{{/if}}
					{{~#if data.data.rules.suffix}}<span class="text-outro">{{{formatForKult data.data.rules.suffix}}}</span>{{/if}}
					{{#if data.data.rules.holdText}}
					<span class="hold-header">This {{case "title" data.type}} grants Hold</span>
					<span class="hold-body">{{data.data.rules.holdText}}</span>
					{{/if}}
					{{~#if data.data.rules.suffix}}<span class="text-outro">{{{formatForKult data.data.rules.suffix}}}</span>{{/if}}
				</div>
			</div>
		</section>
	</section>
</form>