{{log this}}
{{log "DATA" data}}

<form class="{{cssClass}}" autocomplete="off">
	<section class="sheet-content">
		<header class="sheet-header">
			<input type="text" class="item-name" name="name" value="{{item.name}}" placeholder="" />
		</header>
		<section class="tab-content">
			{{{rulesHTML}}}
		</section>
	</section>
</form>