{{log this}}
<form class="{{cssClass}} kult-sheet kult-overrides-sheet" autocomplete="off">
	<div class="sheet-lock-button">
		<a class="sheet-lock" title="Lock/Unlock Sheet">
			<i class="fas fa-lock{{#if isSheetOpen}}-open{{/if}}"></i>
		</a>
	</div>
  <header class="sheet-header">
    <script src="systems/kult4e/scripts/delete.js"></script>
    <script src="systems/kult4e/scripts/getAttribute.js"></script>
		<div class="header-container">
			<img class="picture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
			<div class="title">
				<input class="character-name" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
				<select class="character-archetype" name="flags.kult4eoverrides.archetype" value="{{flags.kult4eoverrides.archetype}}">
				{{#select flags.kult4eoverrides.archetype}}
					<option name="" value="" selected hidden disabled>Archetype</option>
					<option class="aware-header" value="null" disabled>T H E&nbsp;&nbsp;&nbsp;A W A R E</option>
					<option value="academic">the Academic</option>
					<option value="agent">the Agent</option>
					<option value="artist">the Artist</option>
					<option value="avenger">the Avenger</option>
					<option value="broken">the Broken</option>
					<option value="careerist">the Careerist</option>
					<option value="criminal">the Criminal</option>
					<option value="cursed">the Cursed</option>
					<option value="deceiver">the Deceiver</option>
					<option value="descendant">the Descendant</option>
					<option value="detective">the Detective</option>
					<option value="doll">the Doll</option>
					<option value="drifter">the Drifter</option>
					<option value="fixer">the Fixer</option>
					<option value="occultist">the Occultist</option>
					<option value="prophet">the Prophet</option>
					<option value="ronin">the Ronin</option>
					<option value="scientist">the Scientist</option>
					<option value="seeker">the Seeker</option>
					<option value="veteran">the Veteran</option>
					<option value="sleeper">the Sleeper</option>
					<option class="enlightened-header" value="null" disabled>T H E&nbsp;&nbsp;&nbsp;E N L I G H T E N E D</option>
					<option class="enlightened" value="abomination">the Abomination</option>
					<option class="enlightened" value="deathMagician">the Death Magician</option>
					<option class="enlightened" value="disciple">the Disciple</option>
					<option class="enlightened" value="revenant">the Revenant</option>
        {{/select}}
        </select>
			</div>
			<div class="specs">
				{{#if actor.koFlags.heldEdges}}
					<div class="spec edge-spec">
						<div class="edge-count">{{actor.koFlags.heldEdges}}</div>
						<div class="edge-label">
							<span class="edge-title">Edge{{#if (gte actor.koFlags.heldEdges 2)}}s{{/if}}</span>
							<span class="edge-name">{{actor.koFlags.edgeSource}}</span>
						</div>
					</div>
				{{else}}
					<div class="spec">
						<label class="spec-label">XP:</label>
						<input class="spec-input" name="flags.kult4eoverrides.xp" type="number" value="{{flags.kult4eoverrides.xp}}" placeholder="0">
					</div>
				{{/if}}
        <div class="spec">
					<label class="spec-label two-line">Persistent<br/>Modifier:</label>
					<select class="spec-input" name="data.forward" value="{{data.forward}}">
					{{#select data.forward}}
						<option value="5">+5</option>
						<option value="4">+4</option>
						<option value="3">+3</option>
						<option value="2">+2</option>
						<option value="1">+1</option>
						<option value="0">~</option>
						<option value="-1">−1</option>
						<option value="-2">−2</option>
						<option value="-3">−3</option>
						<option value="-4">−4</option>
						<option value="-5">−5</option>
					{{/select}}
        	</select>
        </div>
        <div class="spec">
					<label class="spec-label two-line">Situation<br/>Modifier:</label>
					<select class="spec-input" name="data.sitmod" value="{{data.sitmod}}">
					{{#select data.sitmod}}
						<option value="5">+5</option>
						<option value="4">+4</option>
						<option value="3">+3</option>
						<option value="2">+2</option>
						<option value="1">+1</option>
						<option value="0">~</option>
						<option value="-1">−1</option>
						<option value="-2">−2</option>
						<option value="-3">−3</option>
						<option value="-4">−4</option>
						<option value="-5">−5</option>
					{{/select}}
					</select>
        </div>
			</div>
		</div>
  </header>
  <div class="navigation-section">
    <a class="tabButton" data-tab="Front">Front</a>
    <a class="tabButton" data-tab="Bio">Bio</a>
    <a class="tabButton" data-tab="Relationships">Relationships</a>
    <a class="tabButton" data-tab="Assets">Assets</a>
    <a class="tabButton" data-tab="Notes">Notes</a>
    <a class="tabButton" data-tab="Advancement">Advancement</a>
  </div>
  <div id="Front" class="stats-section {{actor.id}}-tab tab-section">
		<div class="top-section">
			<div class="dramatic-hook">
				<input type="checkbox" data-dtype="Boolean" name="flags.kult4eoverrides.dramaticHookChecks.0" {{checked flags.kult4eoverrides.dramaticHookChecks.[0]}} />
				<span>{{flags.kult4eoverrides.dramaticHooks.[0]}}</span>
			</div>
			<div class="dramatic-hook">
				<input type="checkbox" data-dtype="Boolean" name="flags.kult4eoverrides.dramaticHookChecks.1" {{checked flags.kult4eoverrides.dramaticHookChecks.[1]}} />
				<span>{{flags.kult4eoverrides.dramaticHooks.[1]}}</span>
			</div>
		</div>
    <div class="middle-section">
      <div class="attribute-column">
				<div class="section-label">{{localize "kult4eOverrides.Attributes"}}</div>
        <table class="attribute-box" style="table-layout: fixed; width: 160px; height:400px;">
          <tr>
            <td></td>
            <td class="willpic">
              <select class="stat-value" name="data.attributes.willpower" value="{{data.attributes.willpower}}">
              {{#select data.attributes.willpower}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="fortpic">
              <select class="stat-value" name="data.attributes.fortitude" value="{{data.attributes.fortitude}}">
                {{#select data.attributes.fortitude}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
                {{/select}}
              </select>
            </td>
            <td><span class="attribute-roll" data-attr-name="willpower" >{{localize "kult4e.Willpower"}}</span></td>
            <td class="refpic">
              <select class="stat-value" name="data.attributes.reflexes" value="{{data.attributes.reflexes}}">
              {{#select data.attributes.reflexes}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td><span class="attribute-roll" data-attr-name="fortitude">{{localize "kult4e.Fortitude"}}</span></td>
            <td></td>
            <td><span class="attribute-roll" data-attr-name="reflexes">{{localize "kult4e.Reflexes"}}</span></td>
          </tr>
          <tr>
            <td class="reasonpic">
              <select class="stat-value" name="data.attributes.reason" value="{{data.attributes.reason}}">
              {{#select data.attributes.reason}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
            <td class="attmid"></td>
            <td class="intupic">
              <select class="stat-value" name="data.attributes.intuition" value="{{data.attributes.intuition}}">
              {{#select data.attributes.intuition}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td><span class="attribute-roll" data-attr-name="reason">{{localize "kult4e.Reason"}}</span></td>
            <td class="percpic">
              <select class="stat-value" name="data.attributes.perception" value="{{data.attributes.perception}}">
              {{#select data.attributes.perception}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
            <td><span class="attribute-roll" data-attr-name="intuition">{{localize "kult4e.Intuition"}}</span></td>
          </tr>
          <tr>
            <td class="coolpic">
              <select class="stat-value" name="data.attributes.coolness" value="{{data.attributes.coolness}}">
              {{#select data.attributes.coolness}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
            <td><span class="attribute-roll" data-attr-name="perception">{{localize "kult4e.Perception"}}</span></td>
            <td class="violpic">
              <select class="stat-value" name="data.attributes.violence" value="{{data.attributes.violence}}">
              {{#select data.attributes.violence}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td><span class="attribute-roll" data-attr-name="coolness">{{localize "kult4e.Coolness"}}</span></td>
            <td class="chapic">
              <select class="stat-value" name="data.attributes.charisma" value="{{data.attributes.charisma}}">
              {{#select data.attributes.charisma}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
            <td><span class="attribute-roll" data-attr-name="violence">{{localize "kult4e.Violence"}}</span></td>
          </tr>
          <tr>
            <td></td>
            <td><span class="attribute-roll" data-attr-name="charisma">{{localize "kult4e.Charisma"}}</span></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="soulpic">
              <select class="stat-value" name="data.attributes.soul" value="{{data.attributes.soul}}">
              {{#select data.attributes.soul}}
                <option value="6">+6</option>
                <option value="5">+5</option>
                <option value="4">+4</option>
                <option value="3">+3</option>
                <option value="2">+2</option>
                <option value="1">+1</option>
                <option value="0">0</option>
                <option value="-1">−1</option>
                <option value="-2">−2</option>
                <option value="-3">−3</option>
              {{/select}}
              </select>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><span class="attribute-roll" data-attr-name="soul">{{localize "kult4e.Soul"}}</span></td>
            <td></td>
          </tr>
        </table>
      </div>
			<div class="move-column">
				<div class="section-label">{{localize "kult4eOverrides.BasicMoves"}}</div>
				<div class="item-list card-list">
					{{#each moves.basic as |move id|}}
					{{#if (eq move.type "move")}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=move isSheetOpen=../isSheetOpen moveType="basic" typeDisplay="Move"}}
					{{/if}}
					{{/each}}
				</div>
								<div class="section-label">{{localize "kult4e.Wounds"}}</div>
								<div class="wound-entries">
									{{log "WOUND DATA"}}
									{{log this}}
									{{#each wounds as |wound|}}
									{{log "WOUND IN LOOP" wound}}
									<div class="wound-section {{~#unless wound.isUsed}} faded{{/unless}}">
										<span class="wound-indicator">{{#if (eq wound.type "critical")}}💥{{else}}💔{{/if}}</span>
										<input type="checkbox" value="data.woundstabilized.{{wound.key}}" name="data.woundstabilized.{{wound.key}}">
										<input type="text" name="data.woundtext.{{wound.key}}" value="{{wound.text}}">
									</div>
									{{/each}}
								</div>
      </div>
      <div class="move-column right-middle-column">
				<div class="section-label">{{localize "kult4eOverrides.SpecialMoves"}}</div>
				<div class="item-list card-list">
					{{#each moves.advantage as |move id|}}
					{{#if (eq move.type "move")}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=move isSheetOpen=../isSheetOpen moveType="advantage" typeDisplay="Move" isRolled=flags.kult4eoverrides.isRolled}}
					{{/if}}
					{{/each}}
					{{#each moves.disadvantage as |move id|}}
					{{#if (eq move.type "move")}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=move isSheetOpen=../isSheetOpen moveType="disadvantage" typeDisplay="Move" isRolled=flags.kult4eoverrides.isRolled}}
					{{/if}}
					{{/each}}
					{{#each moves.weapon as |move id|}}
					{{#if (eq move.type "move")}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=move isSheetOpen=../isSheetOpen moveType="weapon" typeDisplay="Move" isRolled=flags.kult4eoverrides.isRolled}}
					{{/if}}
					{{/each}}
					{{#each moves.gear as |move id|}}
					{{#if (eq move.type "move")}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=move isSheetOpen=../isSheetOpen moveType="gear" typeDisplay="Move" isRolled=flags.kult4eoverrides.isRolled}}
					{{/if}}
					{{/each}}
					{{#each moves.relationship as |move id|}}
					{{#if (eq move.type "move")}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=move isSheetOpen=../isSheetOpen moveType="relationship" typeDisplay="Move" isRolled=flags.kult4eoverrides.isRolled}}
					{{/if}}
					{{/each}}
				</div>
        <div class="flex-column stability-section">
          <div class="section-label">{{localize "kult4e.Stability"}}</div>
          <div>
            <select name="data.stability.value" value="{{data.stability.value}}">{{#select data.stability.value}}
              <option value="0">{{localize "kult4e.StabilityComposed"}}</option>
              <option value="1">{{localize "kult4e.StabilityUneasy"}}</option>
              <option value="2">{{localize "kult4e.StabilityUnfocused"}}</option>
              <option value="3">{{localize "kult4e.StabilityShaken"}}</option>
              <option value="4">{{localize "kult4e.StabilityDistressed"}}</option>
              <option value="5">{{localize "kult4e.StabilityNeurotic"}}</option>
              <option value="6">{{localize "kult4e.StabilityAnxious"}}</option>
              <option value="7">{{localize "kult4e.StabilityIrrational"}}</option>
              <option value="8">{{localize "kult4e.StabilityUnhinged"}}</option>
              <option value="9">{{localize "kult4e.StabilityBroken"}}</option>
              {{/select}}
            </select>
            <a class="stability-minus" title="{{localize "kult4e.MinusStability"}}"><i class="fas fa-minus-circle"></i></a>
            <a class="stability-plus" title="{{localize "kult4e.PlusStability"}}"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Bio" class="bio-section {{actor.id}}-tab tab-section">
		<div class="two-column">
			<div class="col66">
        <div class="section-label">{{localize "kult4eOverrides.Background"}}</div>
        <div class="free-text">
          {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
			</div>
			<div class="col33">
				<div class="section-label">{{localize "kult4e.DarkSecrets"}}</div>
				<div class=" item-list darksecret-list" style="padding-right: 0;">
					{{#each darksecrets as |darksecret id|}}
					{{> "modules/kult4eoverrides/templates/partials/darksecret-card.hbs" data=darksecret isSheetOpen=../isSheetOpen}}
					{{/each}}
				</div>
				<div class="section-label">{{localize "kult4e.Advantages"}}</div>
				<div class="item-list card-list" style="padding: 0;">
					{{#each advantages as |advantage id|}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=advantage isSheetOpen=../isSheetOpen
					typeDisplay="Advantage" isRolled=flags.kult4eoverrides.isRolled}}
					{{/each}}
				</div>
				<div class="section-label">{{localize "kult4e.Disadvantages"}}</div>
				<div class="item-list card-list" style="padding: 0;">
					{{#each disadvantages as |disadvantage id|}}
					{{> "modules/kult4eoverrides/templates/partials/card.hbs" data=disadvantage isSheetOpen=../isSheetOpen isGM=../isGM
					typeDisplay="Disadvantage" isRolled=flags.kult4eoverrides.isRolled}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	<div id="Relationships" class="relationships-section {{actor.id}}-tab tab-section">
		<div class="section-label">{{localize "kult4e.Relationships"}}</div>
		<div class="two-column">
			<div class="item-list relationship-list" style="padding-right: 0;">
				{{#each relationships as |relationship id|}}
				{{> "modules/kult4eoverrides/templates/partials/relationship-card.hbs" data=relationship isSheetOpen=../isSheetOpen}}
				{{/each}}
			</div>
		</div>
	</div>
	<div id="Assets" class="assets-section {{actor.id}}-tab tab-section">
		<div class="two-column">
			<div class="weapon-section">
				<div class="section-label">{{localize "kult4e.Weapons"}}</div>
				<div class=" item-list weapon-list">
					{{#each weapons as |weapon id|}}
					{{> "modules/kult4eoverrides/templates/partials/weapon-card.hbs" data=weapon isSheetOpen=../isSheetOpen}}
					{{/each}}
				</div>
			</div>
			<div class="gear-section" style="margin: 0;">
				<div class="section-label">{{localize "kult4e.Gear"}}</div>
				<div class=" item-list weapon-list">
					{{#each gear as |gear id|}}
					{{> "modules/kult4eoverrides/templates/partials/gear-card.hbs" data=gear isSheetOpen=../isSheetOpen}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	<div id="Notes" class="notes-section {{actor.id}}-tab tab-section">
		<div class="background-box">
			<div class="section-label">Session Summary</div>
			<div class="free-text">
				{{editor content=flags.kult4eoverrides.session-summary target="flags.kult4eoverrides.session-summary" button=true owner=owner editable=editable}}
			</div>
			<div class="section-label" style="margin-top: 5px;">Notes</div>
			<div class="free-text">
				{{editor content=flags.kult4eoverrides.notes target="flags.kult4eoverrides.notes" button=true owner=owner editable=editable}}
			</div>
		</div>
	</div>

	<div id="Advancement" class="advancement-section {{actor.id}}-tab tab-section">
		<div class="section-label">{{localize "kult4eOverrides.DramaticHooks"}}</div>
		<div class="dramatic-hook">
			{{!-- <input type="checkbox" data-dtype="Boolean" name="flags.kult4eoverrides.dramaticHookChecks.0" {{checked flags.kult4eoverrides.dramaticHookChecks.[0]}} /> --}}
			<input type="text" class="dramatic-hook" name="flags.kult4eoverrides.dramaticHooks.0" type="text"
				value="{{flags.kult4eoverrides.dramaticHooks.[0]}}"></input>
		</div>
		<div class="dramatic-hook">
			{{!-- <input type="checkbox" data-dtype="Boolean" name="flags.kult4eoverrides.dramaticHookChecks.1" {{checked flags.kult4eoverrides.dramaticHookChecks.[1]}} /> --}}
			<input type="text" class="dramatic-hook" name="flags.kult4eoverrides.dramaticHooks.1" type="text"
				value="{{flags.kult4eoverrides.dramaticHooks.[1]}}"></input>
		</div>
		<div class="two-column">
			<div class="advancement-column">
				<div class="section-label">
					{{localize "kult4eOverrides.Advancements"}}
				</div>
				<div class="advancement-total">{{{advancementIntro}}}</div>
				<div class="experience-total">{{{advancementSubIntro}}}</div>
				<div class="two-column">
					<div class="advancement-boxes">
						{{#each advancementLines}}
						{{> "modules/kult4eoverrides/templates/partials/advancement-line-boxes.hbs" }}
						{{/each}}
					</div>
					<div class="advancement-labels">
						{{#each advancementLines}}
						{{> "modules/kult4eoverrides/templates/partials/advancement-line-label.hbs" }}
						{{/each}}
					</div>
				</div>
			</div>
			<div class="purchases-column">
				<div class="section-label">
					Purchases
				</div>
				{{#each purchaseLines}}
				{{> "modules/kult4eoverrides/templates/partials/advancement-purchase.hbs" }}
				{{/each}}
				{{!-- <div class="purchase-line">



					<label class="purchase-label"><span class="purchase-counter">1.</span>+1 <u>active</u> Attribute (max +4): </label>
					<select class="attribute-select" name="flags.kult4eoverrides.purchases.0.label" value="{{flags.kult4eoverrides.purchases.[0].label}}">
					{{#select flags.kult4eoverrides.purchases.[0].label}}
						<option value="reason" selected>Reason</option>
						<option value="intuition">Intuition</option>
						<option value="perception">Perception</option>
						<option value="coolness">Coolness</option>
						<option value="violence">Violence</option>
						<option value="charisma">Charisma</option>
						<option value="soul">Soul</option>
					{{/select}}
					</select>
					<label class="purchase-summary"> to +4</label>
				</div>
				<div class="purchase-line">
					<label class="purchase-label"><span class="purchase-counter">2.</span>+1 <u>active</u> Attribute (max +3): </label>
					<select class="attribute-select" name="flags.kult4eoverrides.purchases.1.label"
						value="{{flags.kult4eoverrides.purchases.[1].label}}">
						{{#select flags.kult4eoverrides.purchases.[1].label}}
						<option value="reason">Reason</option>
						<option value="intuition">Intuition</option>
						<option value="perception">Perception</option>
						<option value="coolness">Coolness</option>
						<option value="violence">Violence</option>
						<option value="charisma" selected>Charisma</option>
						<option value="soul">Soul</option>
						{{/select}}
					</select>
					<label class="purchase-summary"> to +3</label>
				</div>
				<div class="purchase-line">
					<label class="purchase-label"><span class="purchase-counter">3.</span>Gain Archetype Advantage: </label>
					<select class="advantage-select" name="flags.kult4eoverrides.purchases.2.label"
						value="{{flags.kult4eoverrides.purchases.[2].label}}">
						{{#select flags.kult4eoverrides.purchases.[2].label}}
						<option value="influentialFriends" selected>Influential Friends</option>
						{{/select}}
					</select>
				</div> --}}
			</div>
		</div>
	</div>
</form>