{{> "systems/kult4th/templates/components/svg-defs.hbs" }}

<div class="gear-container gear-huge gear-kether-huge">
	{{> "systems/kult4th/templates/components/svg-flat-1024.hbs" "gear-kether-huge"}}
</div>
<div class="gear-container gear-top-right gear-binah">
	{{> "systems/kult4th/templates/components/svg-flat.hbs" "gear-binah-outer-teeth"}}
	{{> "systems/kult4th/templates/components/svg-flat.hbs" "gear-binah-inner-full"}}
</div>
<div class="gear-container gear-bottom-right gear-geburah">
	{{> "systems/kult4th/templates/components/svg-flat.hbs" "gear-geburah"}}
	{{> "systems/kult4th/templates/components/svg-flat.hbs" "gear-geburah-center-saw"}}
</div>

<form class="kult4th-form {{cssClass}} actor-pc" autocomplete="off">
	<script src="systems/kult4th/node_modules/cq-prolyfill/cq-prolyfill.js" async></script>
	<header class="sheet-header">
		<div class="actor-name-container">
			<span class="actor-name-spacer"></span>
			<span class="actor-name-border actor-name-border-left"></span>
			<div class="actor-name-input-container">
				<div class="actor-name-bg-anim actor-name-bg-anim-left"></div>
				<div class="actor-name-bg-anim actor-name-bg-anim-right"></div>
				<div class="actor-name content-editable" data-field="name" data-placeholder="Who Are You?" data-clamplines="1">{{actor.name}}</div>
				{{!-- <input type="text" class="actor-name" name="name" value="{{actor.name}}" placeholder="" /> --}}
			</div>
			<span class="actor-name-border actor-name-border-right"></span>
			<span class="actor-name-spacer"></span>
		</div>
	</header>
	<div class="nav-panel">
		<div class="nav-flare"></div>
		<div class="profile-image-animation"></div>
		<div class="profile-image-bg"></div>
		<img class="profile-image" src="{{actor.img}}" data-edit="img" />
		<img class="nav-lens" src="../systems/kult4th/assets/layout/nav-lens.webp" />
		{{> "systems/kult4th/templates/components/nav-frame.hbs" }}
		<nav class="tabs" data-group="primary">
			<div class="nav-tab-container">
				{{> "systems/kult4th/templates/components/svg-flat.hbs" "nav-spoke-a"}}
				<a class="nav-tab item" data-tab="front">
					<span class="nav-tab-label">{{case "title" (loc "kult4th.sheet.front")}}</span>
				</a>
			</div>
			<div class="nav-tab-container">
				{{> "systems/kult4th/templates/components/svg-flat.hbs" "nav-spoke-d"}}
				<a class="nav-tab item" data-tab="assets">
					<span class="nav-tab-label">{{case "title" (loc "kult4th.sheet.assets")}}</span>
				</a>
			</div>
			<div class="nav-tab-container">
				{{> "systems/kult4th/templates/components/svg-flat.hbs" "nav-spoke-c"}}
				<a class="nav-tab item" data-tab="bio">
					<span class="nav-tab-label">{{case "title" (loc "kult4th.sheet.bio")}}</span>
				</a>
			</div>
			<div class="nav-tab-container">
				{{> "systems/kult4th/templates/components/svg-flat.hbs" "nav-spoke-b"}}
				<a class="nav-tab item" data-tab="notes">
					<span class="nav-tab-label">{{case "title" (loc "kult4th.sheet.journal")}}</span>
				</a>
			</div>
			<div class="nav-tab-container">
				{{> "systems/kult4th/templates/components/svg-flat.hbs" "nav-spoke-a"}}
				<a class="nav-tab item" data-tab="advancement">
					<span class="nav-tab-label">{{case "title" (loc "kult4th.sheet.advancement")}}</span>
				</a>
			</div>
			{{!-- Need UNLOCK (?) and SETTINGS --}}
		</nav>
		<a class="header-button close"><i class="fas fa-times"></i></a>
		<a class="header-button minimize"><i class="fas fa-minus"></i></a>
	</div>
	<main class="tab-content">
		<section class="tab front {{~#if (eq curTab "front")}} active{{/if}}" data-group="primary" data-tab="front">
			<section class="subsection dramatic-hooks">
				<label class="hook-label">{{case "title" (loc "kult4th.sheet.hooks")}}</label>
				{{#each data.data.dramaticHooks}}
				<div class="dramatic-hook">
					<input type="checkbox" name="data.dramaticHooks.{{@index}}.isChecked" {{checked isChecked}} />
					<input type="text" name="data.dramaticHooks.{{@index}}.value" value="{{value}}" />
				</div>
				{{/each}}
			</section>
			<section class="subsection status">
				<div class="stability">
					<button class="stability-add">+</button>
					<button class="stability-remove">&minus;</button>
					<span class="stability-count">{{data.data.stability.value}}</span>
				</div>
				<div class="wounds">
					<label class="wounds-label">{{case "title" (loc "kult4th.trait.wounds")}}</label>
					<div class="wounds-container">
						{{#each data.data.wounds as |wound|}}
						<div class="wound wound-{{#if wound.isCritical}}critical{{else}}serious{{/if}}" data-wound-id="{{wound.id}}">
							<div class="toggle-box-container wound-type">
								<input class="toggle-box" type="checkbox" name="data.wounds.{{wound.id}}.isCritical" {{checked wound.isCritical}} />
								<span class="toggle-box-mode toggle-box-checked">🟥</span>
								<span class="toggle-box-mode toggle-box-unchecked">❌</span>
							</div>
							<div class="wound-desc content-editable" data-field="data.wounds.{{wound.id}}.description" data-placeholder="Describe Wound" data-clamplines="1">{{wound.description}}</div>
							<div class="toggle-box-container wound-stable">
								<input class="toggle-box" type="checkbox" name="data.wounds.{{wound.id}}.isStabilized" {{checked wound.isStabilized}} />
								<span class="toggle-box-mode toggle-box-checked">🟩</span>
								<span class="toggle-box-mode toggle-box-unchecked">⭕</span>
							</div>
							<button class="wound-delete" data-wound-id="{{wound.id}}">&minus;</button>
						</div>
						{{/each}}
						<div class="wound wound-add">
							<button class="wound-add">New Wound</button>
						</div>
					</div>
					<span class="wounds-report">{{data.data.woundReport}}</span>
				</div>
				<div class="edges" style="opacity: 0;">
					<button class="edges-add">+</button>
					<button class="edges-remove">&minus;</button>
					<button class="edges-clear">X</button>
					<span class="edges-count">{{data.data.edges.value}}</span>
					<span class="edges-source">{{data.data.edges.sourceName}}</span>
					<span class="edges-tooltip">
						{{#each data.data.edges.items}}
						<button class="edge-use" data-edge="{{this}}">#</button>
						<span class="edge-item">{{{formatForKult this}}}</span>
						{{/each}}
					</span>
				</div>
			</section>
			<section class="subsection attributes">
				<label class="k4-title section-title">{{case "upper" (loc "kult4th.trait.attributes")}}</label>
				{{#each attributes}}
				{{> "systems/kult4th/templates/components/attribute-box.hbs"}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list basic-moves">
				<label class="k4-title section-title">{{case "upper" (loc "kult4th.item.type.basicPlayerMoves")}}</label>
				{{#each baseMoves}}
				{{> "systems/kult4th/templates/partials/basic-move-card.hbs"}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list special-moves">
				<label class="k4-title section-title">{{case "upper" (loc "kult4th.item.type.specialMoves")}}</label>
				{{#each derivedMoves}}
				{{> "systems/kult4th/templates/partials/derived-move-card.hbs"}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list session-checks">
				<label class="k4-title section-title">{{case "upper" (loc "kult4th.sheet.sessionChecks")}}</label>
			</section>
			<section class="subsection flex-item-list attacks">
				<label class="k4-title section-title">{{case "upper" (loc "kult4th.item.type.attacks")}}</label>
				{{#each attacks}}
				{{> "systems/kult4th/templates/partials/attack-card.hbs"}}
				{{/each}}
			</section>
		</section>

		<section class="tab bio {{~#if (eq curTab "bio")}} active{{/if}}" data-group="primary" data-tab="bio">
			<section class="subsection description">
				<label class="k4-title section-title">Description</label>
				{{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
			</section>
			<section class="subsection flex-item-list advantages">
				<label class="k4-title section-title">Advantages</label>
				{{#each advantages}}
				{{> "systems/kult4th/templates/partials/advantage-card.hbs"}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list disadvantages">
				<label class="k4-title section-title">Disadvantages</label>
				{{#each disadvantages}}
				{{> "systems/kult4th/templates/partials/disadvantage-card.hbs"}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list darksecrets">
				<label class="k4-title section-title">Dark Secrets</label>
				{{#each darksecrets}}
				{{> "systems/kult4th/templates/partials/dark-secret-card.hbs"}}
				{{/each}}
			</section>
			<section class="subsection flex-item-list relations">
				<label class="k4-title section-title">Relations</label>
				{{#each relations}}
				{{> "systems/kult4th/templates/partials/relation-card.hbs"}}
				{{/each}}
			</section>
		</section>

		<section class="tab assets {{~#if (eq curTab "assets")}} active{{/if}}" data-group="primary" data-tab="assets"></section>
		<section class="tab notes {{~#if (eq curTab "notes")}} active{{/if}}" data-group="primary" data-tab="notes"></section>
		<section class="tab advancement {{~#if (eq curTab "advancement")}} active{{/if}}" data-group="primary" data-tab="advancement"></section>
	</main>
</form>