

{{log "item-block.hbs this" this}}
{{log "item-block.hbs item" item}}
{{#with item as |item|}}
	<main class="kult-text-container tab-content kult-{{item.type}}-container {{../cssClass}}">
    <div class="sheet-header">
		  <label class="k4-title item-title">{{item.name}}</label>
    </div>

		{{#unless (areEmpty item.system.rules.intro item.system.rules.trigger item.system.rules.outro)}}
			{{> "systems/kult4th/templates/components/rules-block.hbs" rules=item.system.rules}}
		{{/unless}}

    {{#if (test item.system.subType "==" "active-rolled")}}{{#if (test item.type "==" "move")}}
			{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(15+)" result=item.system.results.completeSuccess.result}}
			{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(10-14)" result=item.system.results.partialSuccess.result}}
			{{> "systems/kult4th/templates/components/roll-result.hbs" type="active-rolled" diceRange="(&minus;9)" result=item.system.results.failure.result}}
		{{/if}}{{/if}}

		{{#each item.system.subItems as |subMove|}}
			{{> "systems/kult4th/templates/partials/subitem-block.hbs" subMove=subMove pItem=item}}
		{{/each}}

		{{~#if item.system.rules.listRefs}}
			{{> "systems/kult4th/templates/components/item-list.hbs" lists=item.system.lists listRefs=item.system.rules.listRefs type=item.type isDisplayingName=true}}
		{{/if}}

		{{#if item.system.rules.holdText}}
			<label class="k4-header hold-header neon-glow-red">{{localize "kult4th.item.headings.risksHold" itemType=(case "title" item.type)}}</label>
			<span class="hold-body">{{{formatForKult item.system.rules.holdText}}}</span>
		{{/if}}
	</main>
{{/with}}