{{dbLog "{comp} form-header.hbs" this}}
<aside class="header-icon header-{{docType}}">
	<div class="icon-container">
		<img src="{{item.img}}" />
	</div>
</aside>
<header class="sheet-header {{docType}}-header">
	{{~#if isBullet}}
	<span class="header-bullet">•</span>
	{{/if~}}
	<label class="k4-title item-title">{{docName}}</label>
	<span class="header-filler"></span>
</header>