
<div class="hover-strip {{~#each stripClasses}} {{this}}{{/each}}" data-type={{type}} {{~#if dataset}}{{#each dataset as |val key|}} data-{{key}}="{{val}}"{{/each}}{{/if}}>
	<span class="strip-bg"></span>
	<div class="strip-name" data-clamplines="1" {{~#if dataset}}{{#each dataset as |val key|}} data-{{key}}="{{val}}"{{/each}}{{/if}}>{{display}}</div>
	<span class="button-strip">
		<span class="button-spacer"></span>
		{{#each buttons as |bdata|}}
		<button class="strip-button {{~#if bdata.buttonClasses}}{{#each bdata.buttonClasses}} {{this}}{{/each}}{{/if}}" {{~#each bdata.dataset as |val key|}} data-{{key}}="{{val}}"{{/each}}>
		{{> "systems/kult4th/templates/components/svg.hbs" key=(getImgName bdata.icon)}}
		{{#if bdata.tooltip}}<span class="tooltip button-tooltip">{{{formatForKult bdata.tooltip}}}</span><span class="tooltip button-tooltip button-tooltip-flare">{{{formatForKult bdata.tooltip}}}</span>{{/if}}
		</button>
		{{/each}}
	</span>
	<div class="icon-container">
		{{> "systems/kult4th/templates/components/svg.hbs" key=(getImgName icon)}}
	</div>
	{{#if tooltip}}<span class="tooltip strip-tooltip">{{{formatForKult tooltip}}}</span>{{/if}}
</div>