
	<div class="nav-panel">
		<div class="nav-flare"></div>
		<div class="profile-image-animation"></div>
		<div class="profile-image-bg"></div>
		<img class="profile-image" src="{{actor.img}}" data-edit="img" />
		<img class="nav-lens" src="../systems/kult4th/assets/layout/nav-lens.webp" />
		{{> "systems/kult4th/templates/partials/pc-nav-menu-frame.hbs" }}
		<nav class="tabs" data-group="primary">
			<div class="nav-tab-container">
				<div class="nav-tab-slider">
				{{> "systems/kult4th/templates/components/svg.hbs" key="nav-spoke-a"}}
				<a class="nav-tab item" data-tab="front">
					<span class="nav-tab-label">{{localize "kult4th.sheet.front"}}</span>
				</a>
				</div>
			</div>
			<div class="nav-tab-container">
				<div class="nav-tab-slider">
				{{> "systems/kult4th/templates/components/svg.hbs" key="nav-spoke-d"}}
				<a class="nav-tab item" data-tab="assets">
					<span class="nav-tab-label">{{localize "kult4th.sheet.assets"}}</span>
				</a>
				</div>
			</div>
			<div class="nav-tab-container">
				<div class="nav-tab-slider">
					{{> "systems/kult4th/templates/components/svg.hbs" key="nav-spoke-c"}}
					<a class="nav-tab item" data-tab="bio">
						<span class="nav-tab-label">{{localize "kult4th.sheet.bio"}}</span>
					</a>
				</div>
			</div>
			<div class="nav-tab-container">
				<div class="nav-tab-slider">
				{{> "systems/kult4th/templates/components/svg.hbs" key="nav-spoke-b"}}
				<a class="nav-tab item" data-tab="notes">
					<span class="nav-tab-label">{{localize "kult4th.sheet.journal"}}</span>
				</a>
				</div>
			</div>
			<div class="nav-tab-container">
				<div class="nav-tab-slider">
				{{> "systems/kult4th/templates/components/svg.hbs" key="nav-spoke-a"}}
				<a class="nav-tab item" data-tab="advancement">
					<span class="nav-tab-label">{{localize "kult4th.sheet.advancement"}}</span>
				</a>
				</div>
			</div>
			{{!-- Need UNLOCK (?) and SETTINGS --}}
		</nav>
		<a class="header-button close"><i class="fas fa-times"></i></a>
		<a class="header-button minimize"><i class="fas fa-minus"></i></a>
	</div>